
.mainNav{
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  /* position: relative; */
  margin-bottom: 12vh;
  }
 .navbar {
  position:fixed;
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  width: auto;
  transition: position 0.3s;
  border-radius:50px ;

  background: rgba(53, 53, 56, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  border: 2px solid rgb(255,0,106);
  display: flex;
 
}

.navbar:hover{
  border: 2px solid rgb(255,0,106);
  
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.navbar a:hover{
  color: rgb(255,0,106);
}


.hamburger-menu {
  position: relative;
}

.hamburger-button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 0 10px;
}

.dropdown-menu {
  position:absolute;
  top: 50px;/* Adjust depending on navbar height */
  right: 0;
  /* background-color: transparent; */
  border: 2px solid rgb(255,0,106);
  z-index: 1001;
  border-radius: 15px;
background-color:var(--background-color)

}


.dropdown-menu ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.dropdown-menu a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
}


@media (max-width: 768px) {
  .navbar {
    align-items: center; /* Center items */
    padding: -50px; /* Reduce padding */
  }

  .navbar-links {
    margin-top: 5px; /* Add space between navbar and links */
  }

  .hamburger-menu {
    display: block; /* Show hamburger menu */
    margin-top: 5px; /* Add space between hamburger menu and links */
  }

  .dropdown-menu {
    top: 40px; /* Adjust position */
    right: 10px; /* Adjust position */
    width: 150px; /* Set width */
  }
}

