



body{
  background: rgb(0,0,0);
  background: -moz-linear-gradient(126deg, rgba(0,0,0,1) 0%, rgba(13,2,50,1) 81%);
  background: -webkit-linear-gradient(126deg, rgba(0,0,0,1) 0%, rgba(13,2,50,1) 81%);
  background: linear-gradient(126deg, rgba(0,0,0,1) 0%, rgba(13,2,50,1) 81%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#0d0232",GradientType=1);
}

